.quote1{
  font-size: 2em;
  font-family: serif;
  border: 1em solid ;
  text-align: center;
}
.quote2{
  font-size: 2em;
  font-family: serif;
  border: 1em solid ;
  text-align: center;
}
#line1{

}

#line2{

}

#line3{



}

#line5{
